<p *ngIf="error">{{error}}</p>

<h1>Login</h1>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <mat-form-field>
        <mat-label for="username">Username</mat-label>
        <input type="text" matInput formControlName="username" class="form-control" />
        <mat-error *ngIf="usernameFCHasError()">{{usernameErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label for="password">Password</mat-label>
        <input type="password" matInput formControlName="password" class="form-control" />
        <mat-error *ngIf="passwordFCHasError()">{{passwordErrorMessage()}}</mat-error>
    </mat-form-field>

    <div class="form-group">
        <button mat-raised-button color="primary" type="submit" class="btn btn-primary">Login</button>
        <button mat-raised-button [routerLink]="['/register']" type="button" class="btn btn-primary">Register</button>
    </div>
</form>

<div>
    <p>Don't have any account ? Try our Demo User!</p>
    <button type="button" mat-raised-button color="accent" (click)="demoLogin()">Demo Owner</button>
</div>