<h2>Add Pet</h2>

<p *ngIf="alertMessage">{{alertMessage}}</p>

<form [formGroup]="petForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" formControlName="name" class="form-control" />
      <div *ngIf="nameHasError()" class="invalid-feedback">{{nameErrorMessage()}}</div>
  </div>

  <div class="form-group">
    <label for="species">Species</label>
    <input type="text" formControlName="species" class="form-control" />
      <div *ngIf="speciesHasError()" class="invalid-feedback">{{speciesErrorMessage()}}</div>
  </div>

  <div class="form-group">
    <label for="breed">Breed</label>
    <input type="text" formControlName="breed" class="form-control" />
      <div *ngIf="breedHasError()" class="invalid-feedback">{{breedErrorMessage()}}</div>
  </div>

  <div class="form-group">
    <label for="color">Color</label>
    <input type="text" formControlName="color" class="form-control"/>
      <div *ngIf="colorHasError()" class="invalid-feedback">{{colorErrorMessage()}}</div>
  </div>

  <button type="submit">Add</button>
  <button type="button" [routerLink]="['/home']">Cancel</button>
</form>

<p>{{petForm.status}}</p>