<p *ngIf="alertMessage">{{alertMessage}}</p>

<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="fullName">Full Name</label>
    <input type="text" formControlName="fullName" class="form-control" />
    <div *ngIf="isInvalidInput('fullName')" class="invalid-feedback">
      <div *ngIf="FullNameHasError()">{{fullNameErrorMessage()}}</div>
    </div>
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" formControlName="username" class="form-control" />
    <div *ngIf="isInvalidInput('username')" class="invalid-feedback">
      <div *ngIf="UserNameHasError()">{{userNameErrorMessage()}}</div>
    </div>
    <div *ngIf="loading">checking available...</div>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input type="text" formControlName="email" class="form-control" />
    <div *ngIf="isInvalidInput('email')" class="invalid-feedback">
      <div *ngIf="EmailHasError()">{{EmailErrorMessage()}}</div>
    </div>
  </div>

  <div class="form-group">
    <label>Password</label>
    <input type="password" formControlName="password" class="form-control" />
    <div *ngIf="isInvalidInput('password')" class="invalid-feedback">
      <div *ngIf="PasswordHasError()">{{passwordErrorMessage()}}</div>
    </div>
  </div>

  <div formGroupName="address">

    <div class="form-group">
      <label for="line1">Address</label>
      <input type="text" formControlName="line1" class="form-control" />
      <div *ngIf="isInvalidAddressInput('line1')" class="invalid-feedback">
        <div *ngIf="a.line1.errors.required">Address is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="line2"></label>
      <input type="text" formControlName="line2" class="form-control" />
    </div>

    <div class="form-group">
      <label for="district">District</label>
      <input type="text" formControlName="district" class="form-control" />
      <div *ngIf="isInvalidAddressInput('district')" class="invalid-feedback">
        <div *ngIf="a.district.errors.required">District is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="state">State</label>
      <input type="text" formControlName="state" class="form-control" />
      <div *ngIf="isInvalidAddressInput('state')" class="invalid-feedback">
        <div *ngIf="a.state.errors.required">State is required</div>
      </div>
    </div>

    <div class="form-group">
      <label for="pincode">Pincode</label>
      <input type="text" formControlName="pincode" class="form-control" />
      <div *ngIf="isInvalidAddressInput('pincode')" class="invalid-feedback">
        <div *ngIf="a.pincode.errors.required">Pincode is required</div>
        <div *ngIf="a.pincode.errors.maxlength">Pincode cannot be of more than 6 digits</div>
      </div>
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid || registerForm.pending" >Register</button>
  <a routerLink="/login">Cancel</a>
</form>

<p>{{registerForm.status}}</p>